head
  title A Mean Sandbox
  meta(name="viewport" content="width=device-width, initial-scale=1")

  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")

  block css