body {
    padding-top:50px;
}
.todo.finished {
    background-color: #FAFAFA;
}
.todo:hover {
    background-color: #F4F4F4;
}

button.destroy {
    position: absolute;
    right: 10px;
    top: 12px;
}