extends layouts/default

block js
  script(src="js/snow.js")

block content
  canvas#siteCanvas(style="z-index:-1; position: absolute;")
  .container
    .page-header
      h1 A MEAN Sandbox
    ul.list-group
      a.list-group-item(href="/todo") Starting out with MEAN: A Barebones Todo App (incomplete)