extends layouts/default

block js
  script(src="js/snow.js")
  script(src="js/weather.js")

block css
  style.
    #title {
      font-weight: 100;
      font-size: 6em;
    }

block content
  canvas#siteCanvas(style="z-index:-1; position: absolute;")
  .container
    .page-header
      h1#title.text-center sandbox
    ul.list-group.text-center
      .list-group-item Fancy Snowfall - JS project from 12/12
      a.list-group-item(href="/todo") Todo (barebones) - Starting out with MEAN - 12/27/13
      a.list-group-item(href="#") MiniWeebly - A Trial project for Weebly - 10/31/13 (removed as requested by Weebly)
      .list-group-item
        h2 Rideable Hours
        p Uses Wunderground API for hourly data and filters out bad times/conditions for riding - 12/30/13
        table.table.table-striped(style="text-align: left;")
          thead
            tr
              th Date
              th Time
              th Temp (feels like)
          tbody