extends layouts/default

block js
  script(src="js/snow.js")

block css
  style.
    #title {
      font-weight: 100;
      font-size: 6em;
    }

block content
  canvas#siteCanvas(style="z-index:-1; position: absolute;")
  .container
    .page-header
      h1#title.text-center sandbox
    ul.list-group.text-center
      a.list-group-item(href="/todo") Todo (barebones) - Starting out with MEAN - 12/27/13
      a.list-group-item(href="/weebly") MiniWeebly - A Trial project for Weebly - 10/31/13 (removed as requested by Weebly)