doctype html
html
  head
  title Mini-Weebly
  link(rel="stylesheet/less", href="stylesheets/main.less")
  script(src='//cdnjs.cloudflare.com/ajax/libs/less.js/1.5.0/less.min.js')

body
  header
    img(src='img/Weebly-Logo.png')
  #tools
    .title Templates
    #templates
      .template-button.blue#pageID0
        .icon.edit
        .icon.delete
        input.edit(disabled="true", type="text", maxlength="10", value="Page")
      
      .template-button.new
        .icon.add
        input(type="text", maxlength="10")
        span Add a new page
      
    
    .title Elements
    #elements
      .elem-button.bordr.bordb
        #title.icon
        |Title
      
      .elem-button.bordb
        #text.icon
        |Text
      
      .elem-button.bordr
        #image.icon
        |Image
      
      .elem-button
        #nav.icon
        |Nav
      
    
    .title Settings
    #settings
      #site-grid
        #grid-toggle.icon
        span Site Grid

  #board
    #pages
      .page-button.active.pageID0
        span Page

    #splash
      a(href="#")
        img(src="img/Image-Placeholder.png")
        |Add Image +

    #content-cont
      .content
        .title(contenteditable="true")
          .del-icon(contenteditable="false")
          |Add Title Here

        .text(contenteditable="true")
          .del-icon(contenteditable="false")
          |Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna.
          Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes. nascetur ridiculus mus. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  include includes/foot

block js
  script(src='js/main.js')